{% extends 'base.html.twig' %}

{% block title %}Welcome to CouBooks{% endblock %}

{% block body %}
    <section>
        <h1>Welcome to the CouBooks website</h1>
        <h2>Are you ready to study?</h2>

        <p>When in need of the correct course books or printed slides, you should check our course book website for EA.
            Here you can find an overview of all course materials needed for every course within the EA program.
            Select your phase and see what is required...</p>

        <p>This <b>Course Book Service</b> site is specially designed as a demonstration for the web technology course.
            In the end, this page can be found on the development web server <a href="#">studev.groept.be</a>.
            Within this demonstration, we will step by step create this site.</p>
    </section>

    <section>
        <h2>Opening hours:</h2>
        <ul>
            <li>Mon: 9am-11am</li>
            <li>Tue: 1pm-4pm</li>
            <li>Fri: 1pm-4pm</li>
        </ul>

        <h2>Feedback</h2>
        <p>"This concept is awesome! Also, the site looks nice and stylish." <i>- Jeroen</i></p>
        <p>"Is there also a mobile app for this site?" <i>- Patrick</i></p>
        <p><a href="/addfeedback">Add feedback...</a></p>
    </section>
{% endblock %}
